.logoSkills{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: white;

}

.logo-skill{
  height: 2em;
  width: 2em;
  margin-bottom: .5em;
}

.texto-no-sobresale{
  overflow: hidden;
}


.logo-sm{
  width: 1.2em;
  height: 1.2em;
  margin: .5em;
}

.mt-8{
  margin-top: 8em;
}

.btn-green{
  background-color: rgba(240, 240, 84, 0.603)
}

.alineado{
  margin-left: 4em;
}

.alineado-sm{
  margin-left: 2em;
}

.texto-con-sombra {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
