.btn-skyblue{
  background-color: rgb(0, 204, 255);
}

.imagen-fondo {
  background-image: url('fondo.jpg');
  background-size: cover;
  background-position: center;
  height: 85vh;
}

.acomodado-pantalla{

}

.mb-10{
  margin-bottom: 10em;
}

.texto-no-sobresale{
  overflow: hidden;
}
