<!--------------- BANNER --------------->
  <app-banner-superior></app-banner-superior>
<!--------------- BUSCAR USUARIOS  --------------->
  <app-search></app-search>
<!--------------- HEADER --------------->
  <app-header></app-header>
<!--------------- ACERCA DE  --------------->
  <app-acerca-de></app-acerca-de>

<!--------------- EDUCACIÓN --------------->
  <div class="container shadow">
    <div class="row mt-5">
      <h6 class="text-start p-1 bg-dark text-light rounded border p-2">EDUCACIÓN</h6>
    </div>

    <app-educacion></app-educacion>
  </div>
<!--------------- EXPERIENCIAS --------------->

  <div class="container shadow">
    <div class="row mt-5">
      <h6 class="text-start p-1 bg-dark text-light  rounded border p-2">EXPERIENCIAS</h6>
    </div>

      <app-experiencia></app-experiencia>
  </div>
  <!--------------- SKILLS --------------->
  <div class="container shadow mt-5">
    <div class="row">
      <h6 class="text-start p-1 rounded border  bg-dark text-light ">SKILLS</h6>

      <app-skills></app-skills>

    </div>
  </div>
  <!--------------- PROYECTOS --------------->
  <div class="container shadow mt-5 mb-5 ">
    <div class="row">
      <h6 class="text-start p-1 rounded border  bg-dark text-light ">PROYECTOS</h6>
          <app-proyectos></app-proyectos>
      </div>
     </div>
 <!--------------- FOOTER --------------->
  <app-footer></app-footer>
